body{
    top: 0;
    margin: 0;
    padding: 0;
    background-image: url('./../image/computer-networking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    overflow: hidden;
    display: block;
    padding: 20px 20px;
    border-radius: 10px;
}
.first_section{
    width: 45%;
    float: left;
}
.first_section h1{
    margin-left: 40px;
}
input[type="text"],input[type="email"],input[type="password"]{
    width: 60%;
    padding: 10px 0px;
    margin: 10px 0px 15px 40px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-size: 15px;
    font-weight: normal;
    transition: 0.2s ease;
    display: block;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

.signin{
    margin-left: 36px;
    border: none;
    background-color:  #16a085;
    font-size: normal;
    padding: 18px 34px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
    
}
.or{
    border: none;
    padding: 10px 12px;
    border-radius: 55%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.middle_section{
    width: 8%;
    float: left;
}
.middle_section button{
    margin-top: 200px;
}

.last_section{
    width: 45%;
    float: left;
    margin-top: 135px;
}
.last_section button{
    width: 100%;
}
.facebook_signin{
    background-color: #32508E;
    padding: 10px 12px;
    border: none;
    border-radius: 2px solid #2c4f96;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}
.facebook_twitter{
    background-color: #55ACEE;
    padding: 10px 12px;
    border: none;
    border-radius: 2px solid #2c4f96;
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}
.facebook_google{
    background-color: #DD4B39;
    padding: 10px 12px;
    border: none;
    border-radius: 2px solid #DD4B39;
    color: #fff;
    font-weight: bold;
}